@CHARSET "UTF-8";

body {
	background: #B6BBD6;
}

#up_side_container {
	background: #93969C;
	border-radius: 10px;
	border: 1px solid black;
}

#bottom_side_container {
	margin-top: 10px;
	background: #93969C;
	padding-bottom: 50px;
	border-radius: 10px;
	border: 1px solid black;
}

#control_panel_div{
	margin-left: 100px;
	padding-bottom: 10px;
}


.select_fund_span{
	
background: 0a5577;
padding: 6px 20px;
margin: 10px 20px 0px 3px;
display: inline-block;
border-radius: 10px;
color: #FFF;
font-size: 16px;
font-weight: 600;
}



#show_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #39567a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #39567a;
	box-shadow:inset 0px 1px 0px 0px #39567a;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #343e5c), color-stop(1, #262e49) );
	background:-moz-linear-gradient( center top, #343e5c 5%, #262e49 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#343e5c', endColorstr='#262e49');
	background-color:#343e5c;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	
	font-style:normal;
	height:30px;
	
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	border-radius: 5px;
}
#show_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #262e49), color-stop(1, #343e5c) );
	background:-moz-linear-gradient( center top, #262e49 5%, #343e5c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#262e49', endColorstr='#343e5c');
	background-color:#262e49;
}
#show_button:active {
	position:relative;
	top:1px;
}



.detail_link:hover{
	cursor: pointer;
	text-decoration: underline;
}

#modalContainer{
    position: fixed !important; 
 }

.modal-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
}

.modal-table .text{
    text-align: left;
}

.modal-table .number{
    text-align: right;
}

.modal-table .date{
    text-align: center;
}

.modal-table tr:nth-child(even) {
    background-color: rgb(201, 201, 201);
}

.modal-table tr:first-child {
    border-bottom: 1px solid grey;
}

.pagination{
	width: 300px;
	margin: 5 auto;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
	color: #2136A0;
}


.collection_element {
	margin-left: 30px;
}

.tabs {
    width:100%;
    display:inline-block;
    margin-left: 60px;
    
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
        
    }
    .tab-links {
        margin-bottom: 0px;
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links span {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#dbdbdb;;
            color:#FFF;
            
            font-size:16px;
            font-weight:600;
            
            transition:all linear 0.15s;
            
            cursor: pointer;
        }
 
        .tab-links span:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active span, li.active span:hover {
        background:0a5577;
        color:#FFF;
        border-bottom: 1px solid #749EB1
    }
    
    /* Balance Table CSS*/
    
    
    
.data_table {
	margin:0px;padding:0px;
	width:800px;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #0a5577;	
	background-color:#dbdbdb;
	border-spacing: 0px;
	
}

.data_table table{
    border-collapse: collapse;
    border-spacing: 0;
	width:800px;
	height:100%;
	margin:0px;padding:0px;
	background-color:#dbdbdb;
}



.data_table td{
	vertical-align:middle;
		
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.data_table td:last-child{
		text-align:center;
	}

.data_table td{
        height: 24px;
    }

.data_table thead th{
		

	background-color:#0a5577;
    
    height: 24px;
	
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.balance_table thead th:first-child{
    text-align:left;
    padding-left: 30px;
}

.data_table tr.bold_row td{
       font-weight: bold;
    }





    
 
        